/.svn

/Spark.Core/bin/Debug

/Spark.Core/bin/Release

/Spark.Service/bin/Release

/Spark.Store/bin/Release
bin
/Spark.Core/obj/Debug

/Spark.Store/obj/Debug
Spark/obj/Debug
/Spark/obj/Release
/packages

/Spark.Service/obj/Debug
/Spark.Store/obj/Release

/Spark.Service/obj/Release

/Spark.Search/obj/Debug
/Spark.Search/obj/Release

/Spark.Core/obj/Release
/*.suo
/Spark.Tests/obj/Debug

/Spark.Tests/*.user
/MakeCert

/Spark/Accounts.config
/Spark/Accounts.config.bak
test.txt