<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hl7.Fhir" version="0.11.2" targetFramework="net45" />
  <package id="Hl7.Fhir.Specification" version="0.11.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="p3-sharpcompress" version="0.10.5.2" targetFramework="net45" />
</packages>