<h2>About</h2>

<p>
    This is a HL7 FHIR server. It supports the latest version of <a href="http://www.hl7.org/implement/standards/fhir/">FHIR</a>,
    the DSTU1 (Draft Standard for Trial Use). You can read more here on the <a href="http://www.hl7.org/implement/standards/fhir/overview.html">background on FHIR</a>.
<p>
    This server can be used for the upcoming <a target="_blank" href="http://www.hl7.org/events/wgm012014/">Connectathon in Chicago</a> in September 2014.
    You can find the <a target="_blank" href="http://wiki.hl7.org/index.php?title=FHIR_Connectathon_7">tracks here</a>.

    <h3>Testing</h3>
    You can use this server for testing and you are allowed to do updates and deletes. Beware of the fact that others can do this too.

    <h3>Created</h3>
    Spark was created in C# with WebApi 2.0. MongoDB is used as the database. We used the <a href="/Home/API">C# Fhir Api</a>.
</p>

<div class="row">
    <div class="col-md-4">
        <h3>Implementation</h3>
        This server implements the following FHIR rest operations:
        <ol>
            <li>All inserts, updates and deletes on all predefined FHIR resources</li>
            <li>The history of a resource collection, an individual resource or the whole server</li>
            <li>Tags. Server wide, all from a resource type, from one resource instance, and from resource history. </li>
            <li>Binaries and transactions</li>
            <li>Search</li>
        </ol>

    </div>
    <div class="col-md-4">
        <h3>Conformance</h3>
        For the full implementation of this server, see the <a href="/Home/Conformance">conformance statement</a> or you can fetch the conformance of this server in accordance with the:
        <a href="http://www.hl7.org/implement/standards/fhir/http.html#conformance">FHIR specification</a>:
        <br /><br />
        <h4>Conformance Endpoint</h4>
        <a href="@Spark.Configuration.Settings.Endpoint/Conformance">@Spark.Configuration.Settings.Endpoint/metadata</a>
    </div>
    <div class="col-md-4">
        <h3>Furore</h3>
        This server was created by <a target="_blank" href="http://www.furore.com">Furore</a>. We have a <a target="_blank" href="http://fhir.furore.com">special site</a>
        with more information and more resources on FHIR.
    </div>
</div>
@{ if (System.Diagnostics.Debugger.IsAttached)
 {
    <div class="row">
        <h3>Loaded assemblies</h3>
        @{        foreach (var ass in AppDomain.CurrentDomain.GetAssemblies())
                {
                    <p>@ass.FullName</p>
                }
        }
    </div>
 }}