<h2>API</h2>

<p>
    If you want to program a FHIR client, there are several public resources available to get you started. We have created two libraries in C#, that you can get from
    <a target="_blank" href="http://www.nuget.org/packages/Hl7.Fhir">NuGet</a>.
    

    <h3>The Model library</h3>
    The model library contains all predefined resources as a class, and all FHIR base types defined in the standard.
    <div class="examples">
        Hl7.Fhir.dll
    </div>

    <h3>The Aplication Programming Interface</h3>
    The API contains a client class that enables you to easily connect to any FHIR server. It also has a set of utility functions to ease the proces of dealing with several typical client actions.
    <div class="examples">
        Hl7.Fhir.Api.dll
    </div>
</p>

<div class="row">
    <div class="col-md-4">
        <h3>Client API</h3>
           The client API is open source. On <a target="_blank" href="http://github.com">Github</a> you can find the <a target="_blank" href="https://github.com/ewoutkramer/fhir-net-api">source code</a> 
           for the libraries. 
    </div>
    <div class="col-md-4">
        <h3>NuGet</h3>
        You can download the API NuGet package here:
        <a target="_blank" href="http://www.nuget.org/packages/Hl7.Fhir">http://www.nuget.org/packages/Hl7.Fhir</a>
        
    </div>
    <div class="col-md-4">
        <h3>Torch</h3>
        Torch is an online <a target="_blank" href="http://fhir.furore.com/torch">FHIR client</a> that can connect to different FHIR servers. It was build the model library and the FHIR API.
    </div>
</div>