
<div class="jumbotron">
    <h1>
        <span class="title">Spark</span>
        <span class="fhir">Fhir</span>
        <span class="subtitle">server</span>
    </h1>
    <h2><b>C#</b> Reference Implementation for HL7 FHIR</h2>

    <h4>Endpoint: </h4>
    <h3 class="endpoint">
        @Settings.Endpoint
    </h3>
</div>

<hr/>

<div class="row">
    <div class="col-md-6">
        <h2>Implementation</h2>
        <p>
            This is the official <b>C#</b> Reference implementation server for 
            <a href="http://www.hl7.org/implement/standards/fhir/"><b>FHIR</b> DSTU-2 </a>
            by <a href="http://fhir.furore.com">Furore</a>.
            This server is build with the 
            <a href="http://ewoutkramer.github.io/fhir-net-api/"><b>C#</b> FHIR API </a>.
            This server is regularly reset and filled with the official resource examples.
        </p>

        <h2>Furore</h2>
        We built this FHIR server to test your client against. It is also
        <a href="https://github.com/furore-fhir/spark">open sourced</a>  
        to help the C# health community
        give a quick start in FHIR implementations. 
        
        Look at our <a href="http://fhir.furore.com/Tooling">other FHIR products</a>. 
        
    </div>
    
    <div class="col-md-6">
        <h2>Spark</h2>
        <p>
            @{ 
                Version v = typeof(Spark.Controllers.FhirController).Assembly.GetName().Version;
            }
            This is SPARK Version @v.Major.@v.Minor implementing FHIR DSTU2 @Hl7.Fhir.Model.ModelInfo.Version
        </p>
        <h2><img src="~/Content/fhir-logo.png" alt="FHIR" /></h2>
        <p>
            <a href="http://www.hl7.org/implement/standards/fhir/">FHIR</a> is the latest Health communication standard from <a href="http://en.wikipedia.org/wiki/Health_Level_7">HL7</a>.
            FHIR aims to be a lot <a href="http://www.hl7.org/implement/standards/fhir/overview.html">simpler</a> than HL7v3, without sacrificing information integrity.
        </p>
    </div>
</div>
