<div class="jumbotron">
    <h1>Spark</h1><span class="label label-primary">FHIR SERVER</span>
    <h2>Reference Implementation for HL7 FHIR provided by Furore</h2>

    <h6>Endpoint: </h6>
    <span class="endpoint">
        @Settings.Endpoint
    </span>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Spark @Settings.Version <span class="label label-primary">DSTU-2 BALLOT</span></h2>
        <p>
            This server supports the DSTU-2 BALLOT version of FHIR @Hl7.Fhir.Model.ModelInfo.Version
            This server is regularly reset and filled with the official resource examples.
        </p>

    </div>
    <div class="col-md-6">
        <h2><img src="~/Content/fhir-logo.png" alt="Home" /></h2>
        <p>
            <a href="http://www.hl7.org/implement/standards/fhir/">FHIR</a> is the newest <a href="http://en.wikipedia.org/wiki/Health_Level_7">HL7</a> implementation.
            FHIR aims to <a href="http://www.hl7.org/implement/standards/fhir/overview.html">simplify the implementation</a> of HL7v3 without sacrificing information integrity.
        </p>
    </div>
</div>
