<h2>FHIR Client </h2>

<p>
    If you want to program a FHIR client, 

</p>

<div class="row">
    <div class="col-md-4">
        <h3>Client API</h3>
        On <a href="http://github.com">Github</a> we have a full C# Client API for FHIR.
    </div>
    <div class="col-md-4">
        <h3>NuGet</h3>
       
    </div>
    <div class="col-md-4">
        <h3>Torch</h3>
        If you want to play with the posibility of FHIR clients, you can find an online <a href="http://fhir.furore.com/torch">FHIR client here</a> that can connect to different FHIR servers.
    </div>
</div>