<h2>Examples</h2>

The following examples show how you can reach this FHIR server using just your browser.
The paths below are relative to any FHIR server endpoint. A full path has to start with that endpoint.
You will be able to see the results in the browser, because the default response of a FHIR server is XML. If the response contains more than one result, the format is
ATOM (rss-feed) and most browsers have a visual display for that.

<h4>Read</h4>
A simple fetch from an individual resource:
<div class="examples">
    <a href="/fhir/Patient/1">/fhir/Patient/1</a><br />
</div>

A FHIR resource can be fetched both as XML or as Json. The regular way to achieve this is by adding an http header "Conten-Type:".
Alternatively you can overrule the headers with a _format parameter:
<div class="examples">
    <a href="/fhir/Patient/1?_format=application/json">/fhir/Patient/1?_format=application/json</a>
</div>

<h4>Version Read</h4>
To fetch an older version of a resource, use the version read. With the following url you can fetch a specific (history) version from a patient resource.
<div class="examples">
    <a href="/fhir/Patient/1/_history/447">/fhir/Patient/1/_history/447</a><br />
</div>


<h4>Search</h4>
Each FHIR  resource has a set of search parameters. You can find these in the standard specificiation for each specific resource. For organization, see 
<a target="_blank" href="http://www.hl7.org/implement/standards/fhir/organization.html#search"> here</a>.
for the list of parameters is here: 



A simple example of a search on organization:
<div class="examples">
    <a href="/fhir/Organization?name=international">/fhir/Organization?name=international</a><br />
</div>

<h2>Advanced</h2>
If you want to do more complicated interactions, you can use <a target="_blank" href="fiddler2.com">Fiddler</a> or build <a href="/Home/API">your own FHIR client</a>.