<div class="jumbotron">
    <h1>Spark <img  src="~/Content/fhir-logo.png" alt="Home" /></h1>
    <h2>Implementing FHIR DSTU 0.8</h2>

    <h6>Endpoint: </h6>
    <span class="endpoint">
        @Spark.Config.Settings.Endpoint
    </span>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Spark @Spark.Configuration.Info.Version</h2>
        <p>
            This server supports the DSTU 0.8 version of FHIR and implements all FHIR rest operations.
            This server is regularly reloaded with the official example resources. 
        </p>
        <p>
            If you want to use this server for trying out FHIR, see the <a href="/Home/Examples">examples</a>.

            We have a online FHIR client named  <a href="http://fhir.furore.com/torch/"><b>Torch</b> here</a>.
        </p>            
        <p>
            If you want to develop your own FHIR client, you can read more about it here: <a href="/Home/API">FHIR client development</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>FHIR</h2>
        <p>
            <a href="http://www.hl7.org/implement/standards/fhir/">FHIR</a> is the newest <a href="http://en.wikipedia.org/wiki/Health_Level_7">HL7</a> implementation.
            FHIR aims to be <a href="http://www.hl7.org/implement/standards/fhir/overview.html">simplify the implementation</a> of HL7v3 without sacrificing information integrity.
            The current version of fhir is <a href="http://www.hl7.org/implement/standards/fhir/">Version 0.12</a>. This is the draft standard for trial use (DSTU).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Other FHIR servers</h2>
        <ul>
            <li><a target="_blank" href="http://fhir.healthintersections.com.au/">Grahame's test server</a></li>
            <li><a target="_blank" href="http://nprogram.azurewebsites.net/">Rik Smithies - NProgram test server </a></li>
            <li><a target="_blank" href="http://oridashi.com.au/fhir/">Brett Esler - Oridashi demo servers overview</a> </li>
            <li><a target="_blank" href="https://api.fhir.me">Josh Mandel - SMART Platforms </a> </li>
            <li>&nbsp;</li>
            <li><a target=" _blank" href="http://wiki.hl7.org/index.php?title=Publicly_Available_FHIR_Servers_for_testing">Complete list...</a></li>
        </ul>
    </div>
</div>
