<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fhir.Metrics" version="0.9.8" targetFramework="net46" />
  <package id="Hl7.Fhir.DSTU2" version="0.91.1" targetFramework="net46" />
  <package id="Hl7.FhirPath" version="0.4.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.25" targetFramework="net46" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.1.25" targetFramework="net46" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.25" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
</packages>