<h2>Conformance statement</h2>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://spark.furore.com/fhir/metadata",
            dataType: "xml",
            success: function (xml) {
                $("#chart").empty();

                $('<thead><tr><td>Resource</td><td>Implements</td></tr></thead>').appendTo("#chart");

                $(xml).find('resource').each(function () {
                    var entity = $(this).find('type').attr("value");

                    var operations = "";
                    $(this).find("operation").each(function () {
                        operations = operations + "<span>" + $(this).find("code").attr("value") + "</span>";
                    });

                    

                    $('<tr></tr>').html('<td>' + entity + '</td><td class="ops">' + operations + '</td>').appendTo('#chart');

                    
                });
            }
        });
    });
</script>

<table id="chart">
    <tr><td class="info">Loading...</td></tr>
</table>




