body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fff;
}

div.navbar a:hover {
    color: red;
}

div.navbar {
    background-color: #eee;
    border-bottom: 2px solid #ddd;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

div.jumbotron {
    -background-color: #FFA733;
    background: linear-gradient(to top, #F80, #FC0, #FD0);
    box-shadow: 1px 1px 5px #888888;

}

div.jumbotron h1 h2 p {
    -color: #644;
    color: white !important;

}

    div.jumbotron p {

    }

table#chart thead td {
    font-weight: bold;
}
table#chart td {
    border: 1px solid #ddd;
    padding: 2px 6px;
}
    table#chart td.ops {
        font-size: 10px;
        font-family: Consolas;
        min-width: 700px;
    }
    table#chart td.ops span {
        color: #282;
        background-color: #afa;
        border: 1px solid #7b7;
        padding: 1px 4px;
        margin: 1px;
    }

div.col-md-4 h2 {
    font-size: 24px;
}
div.col-md-4 ul {
    list-style: none;
    padding-left: 0px;
}

span.endpointtitle {
    padding-left: 4px;
}

div.jumbotron {
    margin-top: 30px;
}

div.jumbotron h2 {
    font-size: 24px;
    font-family: 'Arial';
    -font-style: italic;
}
div.jumbotron h6 {
    margin: 0px;
    margin-top: 48px;
    
    
    line-height: 1;
    
}
div.jumbotron h1 img {
    height: 37px;
}
span.endpoint {
    color: #520;
    font-size: 32px;
    line-height: 1;
    font-family: 'Arial';

}

h4 {
    margin-top: 32px;
}

div.examples {
    font-family: 'Courier New';
    border: 1px solid #AAA;
    box-shadow: 1px 1px 2px #888888;   
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 640px;
    
}


table.stats {
    border-collapse: collapse;
    
}
    table.stats td {
        border: 1px dotted #888;
        padding: 2px 4px;
    }

