@{
    ViewData["Title"] = "Spark Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
    <p>
        <a href="/admin/maintenance" class="btn btn-primary btn-lg">Database maintenance</a>
    </p>
</div>